@import "tailwindcss";

@layer base {
    body {
        font-family: 'Inter', sans-serif;

    }
    .bg-darknight {
        background-color: #030712;
    }

    .text-config-1{
        font-family: "IBM Plex Mono", monospace;
    }
    .bg-dots {
        background-image: radial-gradient(#9a9a9a 1px, transparent 1px);
        background-size: 16px 16px;
    }
    .text-glow {
        text-shadow: 0 0 8px #99feff, 0 0 40px #99feff;
    }
}