@import "tailwindcss";

@layer base {
    body {
        font-family: 'Inter', sans-serif;

    }
    .bg-darknight {
        background-color: #030712;
    }

    .text-config-1{
        font-family: "IBM Plex Mono", monospace;
    }
    .bg-dots {
        background-image: radial-gradient(#9a9a9a 0.5px, transparent 1px);
        background-size: 16px 16px;
    }
    .text-glow {
        text-shadow: 0 0 8px #99feff, 0 0px 25px #99feff, 0 0px 35px #99feff;
    }
    .bg-gray-costume {
        background-color: #1c1f29;
    }
    .bg-gray-costume-2 {
        background-color: #1d1f21;
    }
    .stripe-bg {
        background-image: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 0,
        rgba(255, 255, 255, 0.2) 1px,
        transparent 1px,
        transparent 12px
        );
        background-size: auto;
        background-repeat: repeat;
    }
    .grid-bg {
        background-image: 
        linear-gradient(to right, rgba(255,255,255, 0.4) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(255,255,255, 0.4) 1px, transparent 1px);
        background-size: 16px 16px;
    }
    .bg-blueprint {
        background-color: #405cb0;
    }
}